@keyframes bubble-one {
  0% {
    transform: translateX(0) translateY(0);
  }

  33% {
    transform: translateX(40px) translateY(70px);
  }

  66% {
    transform: translateX(-15px) translateY(20px);
  }

  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes bubble-two {
  0% {
    transform: translateX(0) translateY(0);
  }

  25% {
    transform: translateX(30px) translateY(60px);
  }

  50% {
    transform: translateX(-20px) translateY(20px);
  }

  75% {
    transform: translateX(30px) translateY(60px);
  }

  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes bubble-three {
  0% {
    transform: translateX(0) translateY(0);
  }

  45% {
    transform: translateX(20px) translateY(20px);
  }

  75% {
    transform: translateX(10px) translateY(15px);
  }

  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes bubble-four {
  0% {
    transform: translateX(0) translateY(0) scale(1);
  }

  30% {
    transform: translateX(15px) translateY(15px) scale(1.2);
  }

  70% {
    transform: translateX(12px) translateY(18px) scale(1.2);
  }

  100% {
    transform: translateX(0) translateY(0) scale(1);
  }
}

@keyframes bubble-five {
  0% {
    transform: translateX(0) translateY(0) scale(1);
  }

  30% {
    transform: translateX(15px) translateY(20px) scale(0.8);
  }

  70% {
    transform: translateX(40px) translateY(20px) scale(0.5);
  }

  100% {
    transform: translateX(0) translateY(0) scale(1);
  }
}

@keyframes bubble-six {
  0% {
    transform: translateX(0) translateY(0);
  }

  30% {
    transform: translateX(10px) translateY(10px);
  }

  70% {
    transform: translateX(30px) translateY(14px);
  }

  100% {
    transform: translateX(0) translateY(0) scale(1);
  }
}

@keyframes bubble-seven {
  0% {
    transform: translateX(0) translateY(0) scale(1);
  }

  20% {
    transform: translateX(20px) translateY(15px) scale(1.1);
  }

  40% {
    transform: scale(1.2);
  }

  60% {
    transform: translateX(-10px) translateY(20px) scale(0.8);
  }

  100% {
    transform: translateX(0) translateY(0) scale(1);
  }
}

@keyframes bubble-eight {
  0% {
    transform: translateX(0) translateY(0) scale(1);
  }

  35% {
    transform: translateX(20px) translateY(15px) scale(0.9);
  }

  70% {
    transform: translateX(10px) translateY(18px) scale(0.95);
  }

  100% {
    transform: translateX(0) translateY(0) scale(1);
  }
}


