.promo {
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.promo__container {
  max-width: 100%;
  margin: 0 46px auto 70px;
  padding-top: 170px;
}

.promo__paragraph {
  max-width: 100%;
  margin: 0 0 36px 0;
  font-family: 'DINPro';
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
}

.promo__body {
  max-width: 100%;
  position: relative;
}

.promo__title {
  max-width: 100%;
  margin: 0;
  font-family: 'Gilroy';
  font-weight: 300;
  font-size: 109px;
  line-height: 117px;
  text-transform: uppercase;
}

.promo__span-accent {
  font-family: 'Gilroy';
  font-weight: 800;
}
