.promo {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  position: relative;
  grid-row: 1/2;
}

.promo__container {
  max-width: 100%;
  margin: 0 46px auto 70px;
  padding-top: 170px;
}

.promo__paragraph {
  max-width: 100%;
  margin: 0 0 36px 0;
  font-family: 'DIN Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  color: #242424;
}

.promo__body {
  max-width: 100%;
  position: relative;
}

.promo__title {
  max-width: 100%;
  margin: 0;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-size: 109px;
  line-height: 117px;
  text-transform: uppercase;
  color: #242424;
}

.promo__span-accent {
  font-family: 'Gilroy';
  font-weight: 800;
}

/* Бактерии */

.promo__bakti {
  position: absolute;
  object-fit: contain;
}

.promo__bakti_type_one {

}

.promo__bakti_type_two {

}

.promo__bakti_type_three {

}

.promo__bakti_type_four {

}

.promo__bakti_type_five {
  width: 71px;
  height: 64px;
  top: 35px;
  right: 36px;
}

.promo__bakti_type_six {
  width: 85px;
  height: 79px;
  bottom: 59px;
  left: 347px;
}

.promo__bakti_type_seven {
  width: 192px;
  height: 123px;
  top: 72px;
  left: -60px;
}

.promo__bakti_type_eight {
  width: 280px;
  height: 193px;
  bottom: 0;
  left: 0px;
}

.promo__bakti_type_nine {
  width: 602px;
  height: 93px;
  top: 185px;
  right: 0;
}
