@keyframes bakti-active-one {
  0% {
    transform: translateX(0) translateY(0) scale(1);
  }

  25% {
    transform: translateX(60px) translateY(15px);
  }

  50% {
    transform: translateX(50px) translateY(20px) scale(1.15);
  }

  75% {
    transform:  translateX(15px) scale(0.8);
  }

  100% {
    transform:  translateX(0) translateY(0) scale(1);
  }
}

@keyframes bakti-active-two {
  0% {
    transform:  translateX(0) translateY(0) rotate(0);
  }

  19% {
    transform:  translateX(-60px) translateY(-100px) rotate(-60deg);
  }


  29% {
    transform:  translateX(-40px) translateY(-100px) rotate(-120deg);
  }

  48% {
    transform:  translateX(0) translateY(0) rotate(-180deg);
  }

  67% {
    transform:  translateX(-60px) translateY(-100px) rotate(-240deg);
  }


  77% {
    transform:  translateX(-40px) translateY(-100px) rotate(-300deg);
  }

  100% {
    transform:  translateX(0) translateY(0) rotate(-360deg);
  }
}

@keyframes bakti-active-three {
  0% {
    transform: translateX(0) translateY(0);
  }

  30% {
    transform: translateX(50px) translateY(50px);
  }

  60% {
    transform: translateX(10px) translateY(10px);
  }

  80% {
    transform: translateX(30px) translateY(0);
  }

  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes bakti-active-four {
  0% {
    transform: translateX(0) scale(1);
  }

  30% {
    transform: scale(1.2);
  }

  60% {
    transform: translateX(-30px) scale(1.1);
  }

  100% {
    transform: translateX(0) scale(1);
  }
}

.promo {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  position: relative;
  grid-row: 1/2;
}

.promo__container {
  max-width: 100%;
  margin: 0 46px auto 70px;
  padding-top: 170px;
}

.promo__paragraph {
  max-width: 100%;
  margin: 0 0 36px 0;
  font-family: 'DIN Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  color: #242424;
}

.promo__body {
  max-width: 100%;
  position: relative;
}

.promo__title {
  max-width: 100%;
  margin: 0;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-size: 109px;
  line-height: 117px;
  text-transform: uppercase;
  color: #242424;
  position: relative;
  z-index: 1;
}

.promo__span-accent {
  font-family: 'Gilroy';
  font-weight: 800;
}

/* Бактерии */

.promo__bakti {
  position: absolute;
  object-fit: contain;
}

/* Активные */

.promo__bakti_type_one {
  width: 63px;
  height: 58px;
  top: 61px;
  right: 217px;
  animation: bakti-active-one 15s linear infinite;
}

.promo__bakti_type_two {
  width: 112px;
  height: 114px;
  top: 200px;
  right: 52px;
  z-index: 3;
  animation: bakti-active-two 40s linear infinite;
}

.promo__bakti_type_three {
  width: 74px;
  height: 72px;
  bottom: 193px;
  left: 22px;
  animation: bakti-active-three 20s linear infinite;
}

.promo__bakti_type_four {
  width: 228px;
  height: 127px;
  bottom: 0;
  left: 524px;
  animation: bakti-active-four 10s linear infinite;
}

/* Статичные */

.promo__bakti_type_five {
  width: 71px;
  height: 64px;
  top: 35px;
  right: 36px;
}

.promo__bakti_type_six {
  width: 85px;
  height: 79px;
  bottom: 59px;
  left: 347px;
}

.promo__bakti_type_seven {
  width: 192px;
  height: 123px;
  top: 72px;
  left: -60px;
}

.promo__bakti_type_eight {
  width: 280px;
  height: 193px;
  bottom: 0;
  left: 0px;
}

.promo__bakti_type_nine {
  width: 602px;
  height: 93px;
  top: 185px;
  right: 0;
  z-index: 2;
}
