.main {
  width: calc(100vw * 3);
  background-image: url(../../images/bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  display: grid;
  grid-template-columns: repeat(3, 100vw);
  transition: 1s;
}
