.description {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-row: 1/2;
  position: relative;
}

.description__container {
  margin: 136px 130px 0 70px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.description__title {
  max-width: 180px;
  margin: 0;
  font-family: 'DIN Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  color: #242424;
  z-index: 1;
}

.description__body {
  margin-top: 52px;
  max-width: 825px;
  display: flex;
  flex-direction: row;
}

.description__scroll {
  width: 20px;
  height: 435px;
  margin-left: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  z-index: 1;
}

.description__scroll-truck {
  width: 6px;
  height: 414px;
  background-color: #000000;
  border-radius: 3px;
}

.description__scroll-thumb {
  width: 20px;
  height: 104px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(142,64,106,1) 0%, rgba(207,87,141,1) 30%, rgba(207,87,141,1) 55%, rgba(222,139,176,1) 100%);
  border-radius: 10px;
}

.description__text {
  max-width: 775px;
  height: 401px;
  margin-left: 27px;
  padding: 31px 31px 13px 31px;
  background-color: #ffffff;
  border-radius: 35px;
  position: relative;
  box-shadow: 0 0 100px 40px #e9eff2;
}

.description__container-text {
  width: 713px;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.description__text::after {
  content: '';
  width: calc(100% - 62px);
  height: 36px;
  position: absolute;
  bottom: 0;
  left: 31px;
  background-color: #ffffff;
  opacity: 0.3;
}

.description__content {
  max-width: 100%;
  margin: 0;
  font-family: 'DIN Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 21.24px;
  line-height: 28.97px;
  color: #242424;
}

.description__span-accent {
  font-weight: bold;
}

.description__sperm {
  position: absolute;
  object-fit: contain;
}

.description__sperm_type_one {
  width: 269px;
  height: 115px;
  top: 74px;
  left: 710px;
}

.description__sperm_type_two {
  width: 533px;
  height: 234px;
  top: 97px;
  left: 585px;
}

.description__sperm_type_three {
  width: 1072px;
  height: 508px;
  top: 98px;
  left: 366px;
}


.description__sperm_type_four {
  width: 608px;
  height: 225px;
  top: 411px;
  left: 886px;
}

.description__sperm_type_five {
  width: 138px;
  height: 79px;
  top: 515px;
  left: 889px;
}
